* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FFFFFF;
}

.header {
    position: fixed;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__logo {
    position: relative;
    background: url(img/logo.png);
    background-size: 100%;
}

.header__course-logo {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #787878;
}

.header__registration {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #787878;
    text-decoration: none;
    
}

.header__inner {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #1A226B;
    text-decoration: none;
}

.form {
    position: fixed;
    display: block;
    background: #FFFFFF;
    margin: auto;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.form__heading {
    position: relative;
    color: #787878;
    text-shadow: 0px 4px 4px, rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.form__label-email, .form__label-password {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #787878;
}

.form__input-email, .form__input-password {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #787878;
    border: 2px solid #787878;
}

input.form__input-email::placeholder, input.form__input-password::placeholder {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #CCCCCC;
}

.form__checkbox {
    position: relative;
    display: flex;
}

.form__checkbox-input {
    border: solid #787878;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form__checkbox-box {
    border: 2px solid #787878;
}

.form__checkbox-input:checked + .form__checkbox-box {
    background: url(img/check.png);
    background-size: cover;
}

.form__checkbox-label {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #787878;
}

.form__button {
    position: relative;
    display: block;
    background-color: #1A226B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        top: 0;
        left: 0;
        width: 100%;
        height: calc(80/768*100vw);
    }

    .header__logo {
        top: calc(25/768*100vw);
        left: calc(20/768*100vw);
        width: calc(124/768*100vw);
        height: calc(25/768*100vw);
    }

    .header__course-logo {
        top: calc(23/768*100vw);
        left: calc(54/768*100vw);
        font-size: calc(24/768*100vw);
        line-height: calc(29/768*100vw);
    }

    .header__registration {
        top: calc(23/768*100vw);
        left: calc(273/768*100vw);
        font-size: calc(16/768*100vw);
        line-height: calc(19/768*100vw);
    }

    .header__inner {
        top: calc(23/768*100vw);
        left: calc(309/768*100vw);
        font-size: calc(16/768*100vw);
        line-height: calc(19/768*100vw);
    }

    .form {
        width: calc(600/768*100vw);
        height: calc(383/768*100vw);
        top: calc(160/768*100vw);
        left: calc(84/768*100vw);
    }

    .form__heading {
        top: calc(26/768*100vw);
        left: calc(242/768*100vw);
        height: calc(50/768*100vw);
        font-size: calc(50/768*100vw);
        line-height: calc(50/768*100vw);
    }

    .form__label-email {
        top: calc(43/768*100vw);
        left: calc(53/768*100vw);
        font-size: calc(16/768*100vw);
        line-height: calc(16/768*100vw);
    }

    .form__input-email {
        top: calc(46/768*100vw);
        left: calc(45/768*100vw);
        width: calc(510/768*100vw);
        height: calc(49/768*100vw);
        font-size: calc(28/768*100vw);
        line-height: calc(36/768*100vw);
    }

    .form__label-password {
        top: calc(57/768*100vw);
        left: calc(53/768*100vw);
        font-size: calc(16/768*100vw);
        line-height: calc(16/768*100vw);
    }

    .form__input-password {
        top: calc(62/768*100vw);
        left: calc(45/768*100vw);
        width: calc(510/768*100vw);
        height: calc(49/768*100vw);
        font-size: calc(28/768*100vw);
        line-height: calc(36/768*100vw);
    }

    input.form__input-email::placeholder, input.form__input-password::placeholder {
        position: relative;
        left: calc(11/768*100vw);
        font-size: calc(28/768*100vw);
        line-height: calc(36/768*100vw);
    }

    input.form__input-email::placeholder {
        top: calc(-1/768*100vw)
    }

    .form__button {
        top: calc(114/768*100vw);
        left: calc(210/768*100vw);
        width: calc(180/768*100vw);
        height: calc(52/768*100vw);
        font-size: calc(24/768*100vw);
        line-height: calc(16/768*100vw);
    }
}

@media screen and (min-width: 769px) {
    .header {
        width: 100%;
        height: calc(80/1440*100vw);
        top: 0;
        left: 0;
    }

    .header__logo {
        top: calc(18/1440*100vw);
        left: calc(30/1440*100vw);
        width: calc(222/1440*100vw);
        height: calc(50/1440*100vw);
    }

    .header__registration {
        top: calc(25/1440*100vw);
        left: calc(688/1440*100vw);
        font-size: calc(24/1440*100vw);
        line-height: calc(29/1440*100vw);
    }

    .header__inner {
        top: calc(25/1440*100vw);
        left: calc(716/1440*100vw);
        font-size: calc(24/1440*100vw);
        line-height: calc(29/1440*100vw);
    }

    .header__course-logo {
        top: calc(22/1440*100vw);
        left: calc(60/1440*100vw);
        font-size: calc(36/1440*100vw);
        line-height: calc(44/1440*100vw);
    }

    .form {
        width: calc(600/1440*100vw);
        height: calc(383/1440*100vw);
        top: calc(205/1440*100vw);
        left: calc(403/1440*100vw);
        padding-left: calc(45/1440*100vw);
        padding-bottom: calc(26/1440*100vw);
    }

    .form__heading {
        top: calc(26/1440*100vw);
        margin-left: calc(197/1440*100vw);
        height: calc(50/1440vw*100vw);
        font-size: calc(50/1440*100vw);
        line-height: calc(50/1440*100vw);
    }

    .form__label-email {
        top: calc(43/1440*100vw);
        margin-left: calc(8/1440*100vw);
        font-size: calc(16/1440*100vw);
        line-height: calc(16/1440*100vw);
    }

    .form__input-email {
        width: calc(510/1440*100vw);
        height: calc(49/1440*100vw);
        top: calc(46/1440*100vw);
        padding-top: calc(7/1440*100vw);
        padding-left: calc(15/1440*100vw);
        padding-bottom: calc(6/1440*100vw);
        font-size: calc(28/1440*100vw);
        line-height: calc(36/1440*100vw);
    }

    .form__label-password {
        top: calc(57/1440*100vw);
        margin-left: calc(8/1440*100vw);
        font-size: calc(16/1440*100vw);
        line-height: calc(16/1440*100vw);
    }

    .form__input-password {
        width: calc(510/1440*100vw);
        height: calc(49/1440*100vw);
        top: calc(62/1440*100vw);
        padding-top: calc(7/1440*100vw);
        padding-left: calc(15/1440*100vw);
        padding-bottom: calc(6/1440*100vw);
        font-size: calc(28/1440*100vw);
        line-height: calc(36/1440*100vw);
    }

    input.form__input-email::placeholder, input.form__input-password::placeholder {
        font-size: calc(28/1440*100vw);
    }

    .form__button {
        width: calc(180/1440*100vw);
        height: calc(52/1440*100vw);
        font-size: calc(24/1440*100vw);
        top: calc(114/1440*100vw);
        left: calc(165/1440*100vw);
    }
}